﻿@fa_path: "../../node_modules/font-awesome/less";
@import "@{fa_path}/variables.less";
@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";

 @font-face { font-family: Kaushan; src: url('../fonts/Kaushan.otf'); } 

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
}
 
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea  {
   max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
     color: #b94a48;
}

.field-validation-valid {
    display: none;
}
  
input.input-validation-error  {
    border: 1px solid #b94a48
}

input[type="checkbox"].input-validation-error   {
    border: 0 none;
}
  
.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid   {
      display: none;
}

.header-image  {
    background-image : url("/images/cabecera.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    background-position-y: 60%;
}

.titulo-con-fuente
{
    font-family: Kaushan, sans-serif
}
.margin-top-10
{
    margin-top: 10%;
}
