﻿div.btn-toolbar.pull-right(role="toolbar") 
    div.btn-group
        a(href="/admin/product/create")
            button(type="button" class="btn btn-default btn-success" aria-label="Justify")
                span Nuevo