﻿div.profile.container
    div.row
        div.col-md-6
            div.profile_pic
                img( height= "100px" width="100px" src="#{user.photo}" ,alt="..." ,class="img-circle")
        div.col-md-6
            div.profile_info
                span Welcome
                    h4 #{user.username}
ul.list-group
    li.list-group-item 
        a(href="/admin/products/index") Productos
    li.list-group-item 
        a(href="/admin/sells/index") Ventas
    li.list-group-item 
        a(href="/admin/users/index") Usuarios
    li.list-group-item
        a(href="/admin/petitions/index") Peticiones
              
            