﻿extends /baselayout
block body
    include menu.jade
    div.row.container
        .col-md-3.thumbnail
            include lateral-menu.jade
        .col-md-9
            block content
    hr
    footer
        .container
            p &copy; #{year} - Viva el carro

    block scripts