﻿nav.navbar-inverse(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
       
        .navbar-collapse.collapse.navbar-header
            ul.nav.navbar-nav
                li
                    a(href='/') Viva el carro
                li
                    a(href='/admin/product/index') Productos
                li
                    a(href='/') Textil
                li
                    a(href='/') Gorros
                li
                    a(href='/') Complementos
                li
                    a(href='/about') La marca
                li
                    a(href='/contact') Contacto
                li
                    a(href='/admin/logout' ) Logout
        