﻿extends /admin/layout
block content
    div.row
        div.col-lg-12
            h1.page-header Nuevo Usuario
    div.panel.panel-default
            div.panel-heading Nuevo Usuario
            div.panel-body
                include form
block scripts
    script(src='/javascripts/product/create.js')  