﻿extends /admin/layout
block content
    div.row
        div.col-lg-12
            h1.page-header Editar Usuario
    div.panel.panel-default
            div.panel-heading Editar Usuario
            div.panel-body
                include form.jade
