﻿form(action="/admin/user/create", method="post", enctype="multipart/form-data")
    div.row.container
        div.col-md-8
            div.form-group.row
                label.col-xs-2.col-form-label Nombre
                div.col-xs-10
                    -if(user)
                        input(type="text" name="username" value='#{user.username}').form-control#username
                    -else
                        input(type="text" name="username").form-control#username
                    p.help-block Nombre de usuario
            div.form-group.row
                label.col-xs-2.col-form-label Contraseña 
                div.col-xs-10
                    -if(user)
                        input(type="password" name="password" value='#{user.password}').form-control#password 
                    -else
                        input(type="password" name="password").form-control#password
                    p.help-block  Introduzca su contraseña
            div.form-group.row
                label.col-xs-2.col-form-label Rol 
                div.col-xs-10
                    -if(user)
                        select(name="role").form-control#role
                            each role in roles
                                -if(user.role == role.id)
                                    option( value='#{role.id}' selected ) #{role.description}
                                -else
                                    option( value='#{role.id}') #{role.description}
                    -else
                        select(name="role").form-control#role
                            each role in roles
                                option( value='#{role.id}' ) #{role.description}
                       
                    p.help-block Rol del usuario
        div.col-md-4
            div.panel.panel-default      
                div.panel-heading Imagen  
                div.panel-body
                    -if(user && user.photo)
                        img(src="#{user.photo}")#selecciona-imagen-trigger.img-responsive
                    -else
                        img(src="/images/no-image.jpg")#selecciona-imagen-trigger.img-responsive
                        
                    input(type="file", name="image" style="display:none")#image
                    -if(user)
                        input(type="hidden", name="id" value='#{user.id }')#id

        input(type="hidden", name="loggeduserid" value='1')#loggeduserid            
        input(type="submit" value="Crear") 