﻿extends /admin/layout
block content
        h1 Lista de Usuarios
        lr
           div.btn-toolbar.pull-right(role="toolbar") 
            div.btn-group
                a(href="/admin/user/create")
                    button(type="button" class="btn btn-default btn-success" aria-label="Justify")
                        span Nuevo
           include  list