﻿table.table.table-hover
    thead
        tr
            th Identificador
            th Imagen
            th Nombre
            th Fecha de registro
            th Rol
            th 
    each user in users
        tr
            td
                p #{user.id}
            td
                img(src="#{user.photo}" width="30" height="30")
            td
                a(href="#") #{user.username}
            td
                p #{user.createdAt}
            td
                p #{user.role}
            td
                a(href="/admin/user/edit/#{user.id}" )
                    button(type="button" class="btn btn-default btn-primary" aria-label="Justify")
                        span Editar
            td
                a(href="/admin/user/delete/#{user.id}" )
                    button(type="button" class="btn btn-default btn-danger" aria-label="Justify")
                        span Eliminar
                