﻿extends /baselayout
block body
    div.container
        div.margin-top-10
        div.row
            div.col-lg-4.col-lg-offset-4#formulariologin.panel.panel-default
                div.col-lg-offset-1
                    h1.panel-heading Member Login
                    div#message
                        -if(message)
                            div.alert.alert-danger.fade.in.alert-dismissible #{message}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    form(action="/admin/login", method="post").form.panel-body
                        div.form-group
                            div.form-group
                                input(type="text" name="username" placeholder="Nombre Usuario" autocomplete="off").form-control#username
                            div.form-group
                                input(type="password" name="password" placeholder="Contraseña" autocomplete="off" ).form-control#password
                            div.form-group
                                input(type="checkbox" name="remember" )#remember
                                label Recuerdame
                            input(type="submit" name="login" value="Entrar").form-control#login.btn.btn-success
block stylesheets
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
                    
        
