﻿extends layout
block content
  
    header.page-heading
        .jumbotron.header-image.container-fluid
            .row
                .col-md-4.offset-md-4
                #titulo-home.col-md-4.offset-md-4
                    h1.marquee-heading.titulo-con-fuente Viva el carro
                    p.lead Natural Collection
                  
    section
        include ../product/list.jade
        
