﻿nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                img( width='40' height="40" src='images/logo.jpg')
       
        .navbar-collapse.collapse.navbar-header
            ul.nav.navbar-nav
                li
                    a(href='/') Viva el carro
                li
                    a(href='product/list') Productos
                li
                    a(href='/') Textil
                li
                    a(href='/') Gorros
                li
                    a(href='/') Complementos
                li
                    a(href='/about') La marca
                li
                    a(href='/contact') Contacto
        .navbar-collapse.collapse.navbar-header.pull-right
        ul.nav.navbar-nav
            li
                a(href="/admin/") Admin


        .navbar-collapse.collapse.navbar-header.pull-right
            ul.nav.navbar-nav
                li
                    a
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                li
                    a
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                li
                    a
                        <i class="fa fa-instagram" aria-hidden="true"></i>