﻿extends /admin/layout
block content
    div.row
        div.col-lg-12
            h1.page-header Nuevo Producto
    div.panel.panel-default
            div.panel-heading Nuevo Producto
            div.panel-body
                include form.jade
block scripts
    script(src='/javascripts/product/create.js')  