﻿form(action="/admin/product/save", method="post", enctype="multipart/form-data")
    div.row.container
        div.col-md-8
            div.form-group.row
                label.col-xs-2.col-form-label Titulo 
                div.col-xs-10
                    -if(product)
                        input(type="text" name="title" value='#{product.title}').form-control#name
                    -else
                        input(type="text" name="title").form-control#name
                    p.help-block Nombre descriptivo del producto
            div.form-group.row
                label.col-xs-2.col-form-label Descripcion 
                div.col-xs-10
                    -if(product)
                        textarea(type="text" name="description" value='#{product.description}').form-control#description #{product.description}
                    -else
                        textarea(type="text" name="description").form-control#description
                    p.help-block Descripcion del producto
            div.form-group.row
                label.col-xs-2.col-form-label Precio 
                div.col-xs-10
                    -if(product)
                        input(type="number" name="price" value='#{product.price }').form-control#price 
                    -else
                        input(type="number" name="price").form-control#price
                    p.help-block Precio
        div.col-md-4
            div.panel.panel-default      
                div.panel-heading Imagen  
                div.panel-body
                    -if(product && product.image)
                        img(src="#{product.image}")#selecciona-imagen-trigger.img-responsive
                    -else
                        img(src="/images/no-image.jpg")#selecciona-imagen-trigger.img-responsive
                        
                    input(type="file", name="image" style="display:none")#image
                    -if(product)
                        input(type="hidden", name="id" value='#{product.id }')#id
                    
        input(type="submit" value="Crear") 