﻿#most-rated.container
    .row
        each product in products
            div#product.col-md-4
                div.thumbnail
                    div.row
                        div.col-md-12(style="height: 400px; overflow: hidden;")
                            img.img-responsive(src="#{product.image}")
                    div.caption
                        div.row
                            div.col-md-12
                                h4
                                    a(href="#") #{product.title}
                                h4.pull-right   #{product.price}€
                        div.row
                            div.col-md-12
                                p #{product.description}
                        div.row
                            div.col-md-12
                                div.ratings
                                    p.pull-right 6 reviews
                                    p
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star
                                        span.glyphicon.glyphicon-star-empty
                                        span.glyphicon.glyphicon-star-empty
                                    p
                    