﻿table.table.table-hover
    thead
        tr
            th Codigo
            th Titulo
            th Descripccion
            th Precio
            th 
    each product in products
        tr
            td
                p #{product.id}
            td
                a(href="#") #{product.title}
            td
                p #{product.description}
            td
                p #{product.price}
            td
                a(href="/admin/product/edit/#{product.id}" )
                    button(type="button" class="btn btn-default btn-primary" aria-label="Justify")
                        span Editar
            
                a(href="/admin/product/delete/#{product.id}" )
                    button(type="button" class="btn btn-default btn-danger" aria-label="Justify")
                        span Eliminar
                